<!DOCTYPE html>
<html>
<head>
	<title>后台管理系统-首页</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <!--进度条插件-->
    <link rel="stylesheet" href="assets/nprogress/nprogress.css">
	<link rel="stylesheet" href="css/admin.css"/>
  <style>
        [name="pic1"]{
            width: 82px;
            height: 34px;
            overflow: hidden;
            display: block;
            opacity:0;
            position: absolute;
            left: 0;
            top:0
        }
    </style>
</head>
<body>
<!--侧边栏-->
<aside class="ad_aside">
	<!--商标-->
    <div class="brand"><a href="index.html">LETAO</a></div>
    <!--用户-->
    <div class="user">
        <img src="images/default.png" alt=""/>
        <span>超级管理员</span>
    </div>
    <!--菜单-->
    <div class="menu">
        <ul>
        	<li><a href="userManage.html">
        		<span class="glyphicon glyphicon-user"></span>用户管理</a>
        	</li>
        	<li class="now">
                <a href="javascript:;"><span class="glyphicon glyphicon-list"></span>分类管理</a>
                <div class="child">
                    <a href="categoryFirst.html">一级分类</a>
                    <a href="categorySecond.html">二级分类</a>
                </div>
            </li>
            <li>
            	<a href="productManage.html"><span class="glyphicon glyphicon-tags"></span>商品管理</a>
            </li>
		</ul>
    </div>

</aside>
<!--内容-->
<section class="ad_section">
	<!--顶部导航-->
    <nav class="ad_nav">
    	<a href="javascript:;">
    		<span class="glyphicon glyphicon-align-justify"></span>
    	</a>
        <a data-logout href="javascript:;">
        	<span class="glyphicon glyphicon-log-out"></span>
        </a>
	</nav>
	<div class="container-fluid">
		<!-- 面包屑导航 -->
		<ol class="breadcrumb">
		  	<li><a href="#">管理系统</a></li>
            <li class="active">分类管理</li>
            <li class="active">二级分类</li>
		</ol>
		<!-- 内容区域 -->
		<div class="ad_content">
            <button  data-toggle="modal" data-target="#addModal" class="btn btn-default mb_15">添加分类</button>
            <table class="table table-bordered text-center" >
              <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">一级分类名称</th>
                    <th class="text-center">二级分类名称（品牌）</th>
                    <th class="text-center">品牌logo</th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>
            <nav class="text-right">
              <ul id="pageLimit">
                
              </ul>
            </nav>
		</div>
	</div>
	
</section>
<!-- 添加分类的模态框 -->
<div class="modal fade" id ="addModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span >&times;</span></button>
        <h4 class="modal-title">添加分类</h4>
      </div>
      <div class="modal-body">
        <form id="form" autocomplete="off">
            <div class="form-group">
                一级分类：
                <div class="dropdown btn-group" >
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    请选择:
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" >
                    
                  </ul>
                </div>
                <input type="hidden" value="" name="categoryId">
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="请输入二级分类名称">
            </div>
            <div class="form-group"  style="position: relative">
                <button class="btn btn-default">上传图片</button>
                <input type="file" name="pic1" enctype="multipart/form-data">
                <input type="hidden" name="brandLogo">
            </div>
            <img id="uploadImag" src="images/none.png"  width="100" height="100" alt="">

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button form="form"   type="submit" class="btn btn-primary">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/template" id="dropDown">
<% 
    var $= getJquery();
    $.each(rows,function(i,item){
%>
    <li data-id="<%= item.id %>"><a href="javascript:;"><%= item.categoryName %></a></li>

<% })%>
</script>
<script type="text/html" id='list'>
    <% for(var i=0;i<rows.length;i++){ 
        var item =rows[i];
    %>
        <tr>
          <th class="text-center"><%= (page-1)*size + i + 1 %></th>
          <td><%= item.categoryName %></td>
          <td><%= item.brandName %></td>
          <td><img width="40" height="40" src="<%= item.brandLogo %>" /></td>
          
        </tr>
    <% } %>
    
</script>
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!--进度条的js-->
<script src="assets/nprogress/nprogress.js"></script>
<script src="assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<!--上传插件 fileupload -->
<script src="assets/jquery-fileupload/jquery.ui.widget(1).js"></script>
<script src="assets/jquery-fileupload/jquery.fileupload(1).js"></script>
<script src="js/admin.js"></script>
<script src="js/categorySecond.js"></script>
</body>
</html>